.navbar-brand {
    float: none;
    top: 3px;
}

.site-content {
    min-height: 74vh;
}

.widget-area md-progress-circular {
    left: 50%;
    transform: translateX(-50%);
}

.textwidget {
    padding: 0!important;
}