.center-vertical {
  width: 100%;
  clear: both;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.vxgPlayerWrapper {
  float: left;
}

.hidden {
  display: none!important;
}

.player-screen {
  left: calc(50% - 320px);
  top: calc(50% - 180px);
  position: absolute;
}

.vlc-help {
  position: absolute;
  left: calc(50% - 230px);
}

#mb_button--help {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0;
  margin: 0;
}

.md-dialog-content {
  a {
    color: rgb(255, 64, 129);
  }
}