.center-vertical {
  width: 100%;
  clear: both;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.vxgPlayerWrapper {
  float: left;
}

.vxgPlayerWrapper.vxgHidden {
  position: absolute;
  top: -5000px;
  left: -5000px;
}

.vxgplayer-error {
  display: none!important;
}

.hidden {
  display: none!important;
}

.player-screen {
  left: calc(50% - 320px);
  top: calc(50% - 180px);
  position: absolute;
}

.vlc-help {
  position: absolute;
  left: calc(50% - 230px);
}

#mb_button--help {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0;
  margin: 0;
}

.md-dialog-content {
  a {
    color: rgb(255, 64, 129);
  }
}

md-tab-content md-content div {
  height: calc(100vh - 66px);
}

md-toolbar.md-default-theme:not(.md-menu-toolbar) .md-button:not(.md-raised), md-toolbar:not(.md-menu-toolbar) .md-button:not(.md-raised) {
  color: black;
}

video {
  width: 640px;
  height: 360px;
}

.progress-player {
  top: 180px;
  left: 320px;
}

#ta3frame {
  width: 640px;
  height: 360px;
}

@media (max-width:640px) {
  video {
    width: 80%;
    height: auto;
    position: relative;
    top: 80px;
    left: 20px;
  }
  .player-screen {
    left: calc(50% - 160px);
  }

  .epizodes {
    margin-top: 60px;
  }

  .progress-player {
    top: 180px;
    left: 160px;
  }

  #ta3frame {
    width: 320px;
    height: 160px;
  }
}

.menu {
  position: absolute;
  z-index: 1;
}

