<md-dialog aria-label="Mango (Fruit)" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>NÁPOVEDA</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div ng-show="!isMobile" class="md-dialog-content">
        <p>Pre prvé štyri kanály (ta3, joj, joj+, wau) je potrebné mať nainštalovaný flash plugin (čo má v dnešnej dobe
          vačšina ľudí).<br/>
          Ak Vám ide Youtube tak ho máte z najvačšou pravdepodobnosťou nainštalovaný.<br/><br/>
          Pre všetky ostatné kanály je potrebný extra plugin pre prehliadač.
        </p>

        <h2>Mozilla Firefox</h2>
        <p>
          Tí čo používate prehliadač Mozilla Firefox je potrebné nainštalovať <b><a
            href="http://www.videolan.org/vlc/download-windows.en_GB.html" target="_blank">VLC prehrávač.</a></b>
        </p>
        <p>
          <b>Pre pozeranie odporúčam používať <a href="https://www.mozilla.org/sk/firefox/new/" target="_blank">Mozillu Firefox</a> + VLC.
            Dekódvanie videa ide rýchlejšie a úplne plynule, v Chrome to dekódovanie trochu seká.</b>
        </p>

        <h2>Chrome</h2>
        <p>
          Tí čo používate Chrome je potrebné nainštalovať VXG Plugin pre chrome a stránka by Vás mala na to vyzvať a
          stačí len preklikať inštaláciu.
        </p>
      </div>
      <div ng-show="isMobile" class="md-dialog-content">
        <h2>TV kanály</h2>
        <p>Pre pozeranie televíznych kanálov je potrebné mať nainštalovanú aplikáciu: <br />
          pre iPhone:<a href="https://play.google.com/store/apps/details?id=org.videolan.vlc&hl=sk" target="_blank">VLC pre android</a>
          pre Android:<a href="https://itunes.apple.com/gb/app/vlc-for-mobile/id650377962" target="_blank">VLC pre iPhone</a>
        </p>

        <h2>Markíza / JOJ Archív</h2>
        <p>
          1. Kliknite na menu v ľavom hornom rohu a zvoľte reláciu z JOJ archívu<br /><br />

          2. Zvoľte želanú epizódu zo zoznamu<br /><br />

          3. Po načítaní videa kliknite tlačítko prehrávať
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()">
        Zatvoriť
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

