<div id="tv-channels">
  <a href="" ng-click="ctrl.ta3Live()">TA3</a>
  <!--<a href="" ng-click="ctrl.playSTV1()">STV1</a>-->
  <!--<a href="" ng-click="ctrl.playSTV2()">STV2</a>-->
  <a href="" ng-click="ctrl.jojLive()">JOJ</a>
  <a href="" ng-click="ctrl.playJojPlusLive()">JOJ+</a>
  <a href="" ng-click="ctrl.playWauLive()">WAU</a>
  <a href="" ng-click="ctrl.playDajto()">DAJTO</a>

  <a href="" ng-click="ctrl.playVgx(playlistItem.name)" ng-repeat="playlistItem in ctrl.playlist.vgx">{{playlistItem.name}}</a>
</div>
<!--<form ng-submit="ctrl.submit()">-->
  <!--<input style="width:100%; height: 40px;" type="text" ng-model="ctrl.url">-->
<!--</form>-->

<div class="center-vertical player-screen">
  <div id="vxgPlayerWrapper" class="center-vertical vxgPlayerWrapper">
    <div class="vxgplayer"
         id="vxg_media_player"
         width="640"
         height="360"
         url="{{ctrl.vxgPlayerUrl}}"
         nmf-src="bower_components/vxgplayer/pnacl/Release/media_player.nmf"
         nmf-path="media_player.nmf"
         latency="100000"
         autohide="2"
         volume="0.7"
         avsync
         controls
         mute
         aspect-ratio
         aspect-ratio-mode="1"
         auto-reconnect>

    </div>
  </div>

  <iframe ng-show="ctrl.playing === 'ta3'" ng-src="{{ctrl.ta3LiveStreamUrl}}" width="640" height="360" frameborder="0" scrolling="no"></iframe>
  <div ng-show="ctrl.playing === 'jojLive'" id="jojLiveStream"></div>
  <div ng-show="ctrl.playing === 'ctLiveStream'" id="ctLiveStream"></div>

  <div class="center-vertical" ng-show="ctrl.playing === 'dajtoStream'">
    <video id="dajto" class="center-vertical video-js vjs-default-skin" controls preload="none" width="640" height="360"
           poster="http://video-js.zencoder.com/oceans-clip.png"
           data-setup='{"techOrder": ["flash"]}'>
      <source src="http://cdn.srv.markiza.sk/plive/dajto.smil/manifest.m3u8" type='video/mp4' />
    </video>
  </div>

  <ul ng-show="ctrl.playing === 'jojArchive'">
    <li ng-repeat="stream in ctrl.streams">
      <a target="_blank" ng-href="{{stream}}">{{stream}}</a>
    </li>
  </ul>
  <video ng-show="ctrl.playing === 'jojArchive'" width="640" height="360" ng-src="{{ctrl.videoSrc}}" controls></video>
  <ul ng-show="ctrl.playing === 'jojArchive'">
    <li ng-repeat="epizode in ctrl.epizodes">
      <a target="_blank" href="" ng-click="ctrl.play(epizode, $event)">{{epizode.date + ', ' + epizode.title}}</a>
    </li>
  </ul>
</div>