<md-content layout="row" flex>
  <div>
    <div>
      <md-button ng-click="toggleLeft()"
                 class="md-primary" hide-gt-md>
        TV Stanice
      </md-button>
    </div>
    <md-sidenav
        layout="column" class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-disable-backdrop
        md-whiteframe="4">
        <md-tabs md-theme="light-blue" md-dynamic-height md-border-bottom>
          <md-tab label="tv stanice">
            <md-content layout-padding>
              <div layout="column">
                <md-list>
                  <md-list-item><md-button flex ng-click="ctrl.ta3Live()">TA3</md-button> </md-list-item>
                  <md-list-item><md-button flex ng-click="ctrl.jojLive()">JOJ</md-button> </md-list-item>
                  <md-list-item><md-button flex ng-click="ctrl.playJojPlusLive()">JOJ+</md-button> </md-list-item>
                  <md-list-item><md-button flex ng-click="ctrl.playWauLive()">WAU</md-button> </md-list-item>
                  <md-list-item ng-repeat="playlistItem in ctrl.playlist.vgx">
                    <md-button flex ng-click="ctrl.playVgx(playlistItem.n)">{{ctrl.base64decode(playlistItem.n)}}</md-button>
                  </md-list-item>
                </md-list>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="archiv">
            <md-content class="md-padding">
              <p>archiv</p>
            </md-content>
          </md-tab>
        </md-tabs>

    </md-sidenav>
  </div>

  <div layout="column" flex id="content">
    <md-content layout="column" flex class="md-padding">
        <div class="vlc-help" ng-show="ctrl.vlcMissing">
          <h1>Na prehratie videa je potrebný prehávač VLC</h1>
          <p>
            1. Stiahnite si najnovšiu verziu VLC Playera <br />
            <a class="download" href="http://www.videolan.org/vlc/" target="_blank">
              <img src="/images/vlc-navod-1.jpg">
            </a>
            <br />
            2. Otvorte stiahnutý súbor a začnite inštaláciu VLC Playera. <br /><br />
            3. V okne inštalácie “Voľba súčastí programu” je potrebné, aby boli zaškrtnuté všetky možnosti ... <br />
            <img src="/images/vlc-navod-4.png"> <br /><br />

            4. Po nainštalovaní môžete je treba znovu načítať stránku alebo zatvoriť a otvoriť prehliadač.
          </p>
        </div>

      <div ng-show="!ctrl.vlcMissing" class="player-screen">
        <div id="vxgPlayerWrapper" class="vxgPlayerWrapper">
          <div ng-show="ctrl.isChrome()" class="vxgplayer"
               id="vxg_media_player"
               width="640"
               height="360"
               url="{{ctrl.vxgPlayerUrl}}"
               nmf-src="bower_components/vxgplayer/pnacl/Release/media_player.nmf"
               nmf-path="media_player.nmf"
               latency="100000"
               autohide="2"
               volume="0.7"
               avsync
               controls
               mute
               aspect-ratio
               aspect-ratio-mode="1"
               auto-reconnect>
          </div>
          <embed width="640" height="360" ng-show="!ctrl.isChrome()" type="application/x-vlc-plugin"
                 pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2"
                 id="vlc" loop="yes" autoplay="yes" target="{{ctrl.vxgPlayerUrl}}"></embed>
        </div>

        <iframe ng-show="ctrl.playing === 'ta3'" ng-src="{{ctrl.ta3LiveStreamUrl}}" width="640" height="360" frameborder="0" scrolling="no"></iframe>
        <div ng-show="ctrl.playing === 'jojLive'" id="jojLiveStream"></div>
        <div ng-show="ctrl.playing === 'ctLiveStream'" id="ctLiveStream"></div>

        <ul ng-show="ctrl.playing === 'jojArchive'">
          <li ng-repeat="stream in ctrl.streams">
            <a target="_blank" ng-href="{{stream}}">{{stream}}</a>
          </li>
        </ul>
        <video ng-show="ctrl.playing === 'jojArchive'" width="640" height="360" ng-src="{{ctrl.videoSrc}}" controls></video>
        <ul ng-show="ctrl.playing === 'jojArchive'">
          <li ng-repeat="epizode in ctrl.epizodes">
            <a target="_blank" href="" ng-click="ctrl.play(epizode, $event)">{{epizode.date + ', ' + epizode.title}}</a>
          </li>
        </ul>
      </div>

      <md-button ng-click="ctrl.showHelpDialog()" id="mb_button--help" aria-label="Napoveda" class="md-fab" >
        <md-icon > help </md-icon>
      </md-button>
    </md-content>
  </div>
</md-content>

